@charset "UTF-8";

body {
  font: menu;
  font-size: 12px;
  margin: 2px;
  width: 500px;
}

#pattern {
  width: 100%;
  padding: 1px;
  box-sizing : border-box;
}

#list {
  list-style-type: none;
  padding: 0;
  margin: 4px 0px 4px 0px;
}

#list li {
  background: #f1f1f1;
}

#list li:nth-child(odd) {
  background: #f9f9f9;
}

#list li a {
  border: 1px solid transparent;
  padding: 1px;
  color: #090909;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  vertical-align: middle;
}

#list li a:hover {
  border: 1px solid #b6d4fc;
  background: #f1f7ff;
}

#list li img {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 2px;
}
