body {
  font: small-caption;
  width: 500px;
}

.bookmark-list {
  list-style-type: none;
  padding: 0; 
  margin: 0;
}

.bookmark-list-item {
  background: #f1f1f1;
}

.bookmark-list-item:nth-child(odd) {
  background: #f9f9f9;
}

.bookmark-list-item a {
  border: 1px solid transparent;
  padding: 1px;
  color: #090909;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  vertical-align: middle;
}

.bookmark-list-item a:hover {
  border: 1px solid #b6d4fc;
  background: #f1f7ff;
}

.bookmark-icon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}